# Мессенджеры
NEXT_PUBLIC_TELEGRAM_URL=
NEXT_PUBLIC_MAX_VK_URL=
NEXT_PUBLIC_WHATSAPP_URL=
NEXT_PUBLIC_PHONE=

# Соцсети
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_VK_URL=
NEXT_PUBLIC_TIKTOK_URL=

# Сайт
NEXT_PUBLIC_SITE_URL=

# Аналитика
NEXT_PUBLIC_YANDEX_METRIKA_ID=
